<!DOCTYPE html>
<html lang="en">
    
<% const nombreEstilo = "style-Cargar-Editar-Producto.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        
        <div class = "carga-edicion-containerForm">
            <h3 class = "carga-edicion-titulo"> Editar producto: <%= product.name %> </h3>
            
            <form class = "carga-edicion-form" action="/products/editarProducto/<%= product.id %>?_method=PATCH" method = "POST" enctype="multipart/form-data">
                <input class = "carga-edicion-input" type="text" value="<%= product.name %>" name = "nombre" required minlength="5"> </input>
                <input class = "carga-edicion-input" type="text" value="<%= product.price %>" name = "precio" required> </input>

                <select class = "carga-edicion-input" name = "categoria" required>
                    <option value = "disabled" <% if (product.idCategory.name == "") { %> selected <% } %>> CATEGORIA </option>
                    <% categories.forEach(function(category) { %>
                        <option value="<%= category.id %>" <% if (product.categoryProduct.name == category.name) { %> selected <% } %>> <%= category.name.toUpperCase() %> </option>
                    <% }) %>
                </select>

                <select class = "carga-edicion-input" name = "tipoEquipo" required> 
                    <option value = "disabled" <% if (product.typeProduct.name == "") {%> selected <% } %>> TIPO DE EQUIPO </option>
                    <% typeProducts.forEach(function(typeProduct) { %>
                        <option value="<%= typeProduct.id %>" <% if (product.typeProduct.name == typeProduct.name) {%> selected <% } %>> <%= typeProduct.name.toUpperCase() %> </option>
                    <% }) %>
                </select>

                <input class = "carga-edicion-input" type="text" value="<%= product.characteristicOne %>" name = "caracteristicaUno" required> </input>
                <input class = "carga-edicion-input" type="text" value="<%= product.characteristicTwo %>" name = "caracteristicaDos" required> </input>
                <input class = "carga-edicion-input" type="text" value="<%= product.characteristicThree %>" name = "caracteristicaTres" required> </input>

                <textarea class = "carga-edicion-textArea" type="text" placeholder = "<%= product.description %>" name = "descripcion"></textarea>

                <div class = "carga-edicion-containerInputImagen">
                    <label class = "carga-edicion-labelCargarImagen" for="imagen"> Imagen principal </label>
                    <input class = "carga-edicion-input" id = "imagenPrincipal" type="file" name = "imagenPrincipal"></input>
                </div>

                <div class = "carga-edicion-containerInputImagen">
                    <label class = "carga-edicion-labelCargarImagen" for="imagenSecundaria1"> Imagenes secundarias </label>
                    <input class = "carga-edicion-input" id = "imagenSecundaria1" type="file" name = "imagenSecundaria1"></input>
                    <input class = "carga-edicion-input" id = "imagenSecundaria2" type="file" name = "imagenSecundaria2"></input>
                    <input class = "carga-edicion-input" id = "imagenSecundaria3" type="file" name = "imagenSecundaria3"></input>
                    <input class = "carga-edicion-input" id = "imagenSecundaria4" type="file" name = "imagenSecundaria4"></input>
                </div>

                <button type = "submit" class = "carga-edicion-buttonFinalizar"> 
                    EDITAR
                </button>
            </form>

</div>
        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>