<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-ListadoProductos.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>

    <%- include('../partials/header.ejs') %>

    <main>
        
        <div class = "encabezadoProductos">
            <h3 class = "tituloDestacados">Listado de productos</h3>
        </div>

        <section class = "productosDestacados">
            
            <% productos.forEach((producto) => { %>

            <a class = "enlaceProducto" href="/products/productDetail/<%= producto.id %>">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/<%= producto.imagen %>" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> <%= producto.nombre %> </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion><%= producto.descripcion %></p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $<%= producto.precio %> </p>
                        </div>
                    </div>
                </article>
            </a>

            <% }) %>
        
        </section>

        <div class="prod-container-formEdicion">
            <form class = "prod-form-editar" action="/products/agregarProducto" method="GET">
                <button class = "prod-button-enviar" type = "submit">AGREGAR</button>
            </form>
        </div>

    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>


</html>