<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-ProductDetail.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs') %>
    
    <main>
            <div class = "prod-container-tituloProducto">
                <h3 class = "prod-tituloProducto"> <%= producto.nombre %> </h3>
            </div>
            <section class = "prod-container">
                <div class = "prod-izquierda">
                    <div class="prod-container-img-principal">
                        <img class="prod-img-principal" src="/images/<%= producto.imagen %>" alt="">
                    </div>
                    <div class="prod-container-img-adicionales">
                        <div class="prod-container-img-adicional">
                            <img class = "prod-img-adicional" src="/images/<%= producto.imagen2 %>" alt="">
                        </div>
                        <div class="prod-container-img-adicional">
                            <img class = "prod-img-adicional" src="/images/<%= producto.imagen3 %>" alt="">
                        </div>
                        <div class="prod-container-img-adicional">
                            <img class = "prod-img-adicional" src="/images/<%= producto.imagen4 %>" alt="">
                        </div>
                        <div class="prod-container-img-adicional">
                            <img class = "prod-img-adicional" src="/images/<%= producto.imagen5 %>" alt="">
                        </div>
                    </div>
                </div>
                <div class = "prod-derecha">
                    <div class="prod-container-descripcion">
                        <div>
                            <h3 class = "prod-tituloRelacionados">Características:</h3><br>
                            <p>
                                <% for( let i = 0; i < producto.caracteristicas.length; i++ ) { %>
                                    <i class="prod-icon-descripcion far fa-arrow-alt-circle-right"></i> <%= producto.caracteristicas[i] %><br>
                                <% } %>

                            </p>
                        </div>
                    </div>
                <div class="prod-container-descargas">
                    <p>
                        <i class="fa-regular fa-file-pdf"></i> Manual de usuario<br>
                        <i class="fa-regular fa-file-pdf"></i> Manual de Instalación
                    </p>
                </div>

                <div class="prod-container-compra">
                    <div class = "prod-container-Precio">
                        <h4 class = "prod-precio">Precio del producto: $<%= producto.precio %></h4>
                    </div>
    
                    <div class = "prod-container-agregar">
                        <div class = "prod-seleccionCantidad">
                            <a class = "prod-signoMenos" href="#"> <i class="fa-solid fa-minus"></i> </a>
                            <div class = "prod-cantidad"> <p>1</p> </div>
                            <a class = "prod-signoMas" href="#"> <i class="fa-solid fa-plus"></i> </a>
                        </div>
                        <button class = "prod-button" href="#"> <p><i class="fa-solid fa-cart-shopping"></i> AGREGAR</p></button>
                    </div>
                </div>
                
                <div class="prod-container-relacionados">
                    <div class="prod-container-tituloRelacionados">
                        <h3 class = "prod-tituloRelacionados">Productos Relacionados:</h3>
                    </div>
                    <div class="prod-container-img-relacionados">
                        <img class = "prod-img-adicional" src="/images/Plana.jpg" alt="">
                    </div>
                    <div class="prod-container-img-relacionados">
                        <img class = "prod-img-adicional" src="/images/PlanaConAgujeros.jpg" alt="">
                    </div>
                    <div class="prod-container-img-relacionados">
                        <img class = "prod-img-adicional" src="/images/Suncho.jpg" alt="">
                    </div>
                    <div class="prod-container-img-relacionados">
                        <img class = "prod-img-adicional" src="/images/RelayEstadoSolido.jpg" alt="">
                    </div>
                </div>
            </div>
        </section>

        <div class="prod-container-formEdicion">
            <form class = "prod-form-editar" action="/products/editarProducto/<%= producto.id %>/" method="GET">
                <button class = "prod-button-enviar" type = "submit">EDITAR</button>
            </form>

            <form class = "prod-form-borrar" action="/products/delete/<%= producto.id %>?_method=DELETE" method="POST">
                <button class = "prod-button-enviar" type = "submit">BORRAR</button>
            </form>
        </div>
        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>
</html>