<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-Index.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class = "sliderImagenes">
            <img class = "imagenSlider" src="/images/home/BannerV3.png" alt="">
            <a class = "flechaIzquierda" href=""> <i class="imagenFlecha fa-solid fa-angle-left"> </i></a>
            <a class = "flechaDerecha" href=""> <i class="imagenFlecha fa-solid fa-angle-right"> </i></a>
        </div>
        
        <div class = "encabezadoProductos">
            <div class = "lineaEstetica"></div>
            <h3 class = "tituloDestacados">Productos Destacados</h3>
        </div>
        
        <section class = "productosDestacados">
            
            <% productosDestacados.forEach((producto) => { %>

            
            <a class = "enlaceProducto" href="/products/productDetail/<%= producto.id %>">
                <article class = "cuadroProducto">
                    <img class = "imagenProducto" src="/images/products/<%= producto.imagen %>" alt="">
                    <div class = "lineaEsteticaProducto"></div>
                    <div class = "datosProducto">
                        <h4 class = "nombreProducto"> <%= producto.nombre %> </h4>
                        <div class = "descripcionProducto">
                            <p class = textoDescripcion><%= producto.descripcion %></p>
                        </div>
                        <div class = "precioProducto">
                            <p class = "textoPrecio"> $<%= producto.precio %> </p>
                        </div>
                    </div>
                </article>
            </a>

            <% }) %>
        
        </section>

        <div class = "encabezadoProductos">
            <div class = "lineaEstetica"></div>
            <h3 class = "tituloServicios">Te Ofrecemos</h3>
        </div>

        <section class = "serviciosOfrecidos">
            
            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-calculator"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Cálculos de Ingenieria</h4>
                    <p class = "descripcionServicio">Cálculos de potencia y el diseño de tableros de control de temperatura a según las necesidades del usuario.</p>
                </div>
    
            </article>

            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-mobile-screen"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Asesoramiento Técnico</h4>
                    <p class = "descripcionServicio">Procuramos no solamente ofrecer nuestros productos, sino transformarnos en un colaborador de nuestros clientes.</p>
                </div>
    
            </article>

            <article class = "cuadroServicio">
    
                <div class = "imagenServicio"> <i class="logoServicio fa-solid fa-pencil"></i> </div>
                
                <div class = "datosServicio">
                    <h4 class = tituloServicio>Desarrollos Especiales</h4>
                    <p class = "descripcionServicio">El equipamiento de la empresa y su capacidad técnica y experiencia, permiten ofrecer la elaboración de nuevos diseños electrónicos a pedido.</p>
                </div>
    
            </article>

            

        </section>

    </main>

    <%- include('../partials/footer.ejs') %>
    
</body>
</html>