<!DOCTYPE html>
<html lang="en">

<% const nombreEstilo = "style-UserDetail.css" %>
<%- include('../partials/head.ejs' , {nombreHojaEstilos: nombreEstilo}) %>

<body>
    <%- include('../partials/header.ejs') %>

    <main>
        <div class = "ContenedorSeccion-UserDetail">
            <h3 class = "InfoSeccion-UserDetail">Mis Datos</h3>
            <div class = "ContenedorTotal-UserDetail">
                <div class = "InfoUsuario-UserDetail">
                    <div class = "ContenedorImagenUsuario-UserDetail">
                        <img class = "ImagenUsuario-UserDetail" src="/images/users/<%= user.userImage %>" alt="">
                    </div>
                    <h3 class = "NombreUsuario-UserDetail"><%= user.userName %></h3>
                    <h3 class = "NombreApellido-UserDetail"><%= user.name %> <%= user.lastName %></h3>
                    <h3 class = "Email-UserDetail"><%= user.email %></h3>
                    <h3 class = "Telefono-UserDetail"><%= user.phoneNumber %></h3>
                </div>
    
                <div class = "Compras-UserDetail">
                    <h3 class = "TituloCompras-UserDetail">Historial de Compras</h3>
                    <div class = "LineaEsteticaHistorial"></div>
                    <article class = "Encabezado">
                        <div class = ContenedorEncabezado>
                            <p class = "EncabezadoFont"> FECHA </p>
                        </div>
                        <div class = ContenedorEncabezado>
                            <h4 class = "EncabezadoFont"> NUMERO </h4>
                        </div>
                        <div class = ContenedorEncabezado>
                            <p class = "EncabezadoFont"> ESTADO </p>
                        </div>
                        <div class = ContenedorEncabezado>
                            <p class = "EncabezadoFont"> IMPORTE %> </p>
                        </div>
                    </article>

                    <% for(let i=0 ; i < 6; i++) { %>
                        <a class = "enlaceCompra" href="#">
                            <article class = "ContenedorCompra">
                                <div class = ContendorFechaCompra>
                                    <p class = "FechaCompra"> 2/6/2023 </p>
                                </div>
                                <div class = ContenedorNumeroCompra>
                                    <h4 class = "NumeroCompra"> 001 </h4>
                                </div>
                                <div class = ContenedorEstadoCompra>
                                    <p class = "EstadoCompra"> ENTREGADO </p>
                                </div>
                                <div class = ContenedorPrecioCompra>
                                    <p class = "PrecioCompra"> $15233 %> </p>
                                </div>
                            </article>
                        </a>
                    <% } %>
                </div>
            </div>
        </div>
        
    </main>

    <%- include('../partials/footer.ejs') %>
</body>